* {
  font-family: "Rubik", sans-serif;
}
[data-theme="light"] {
  --color-bg: #efefef;
  --color-fg: #000000;
  --link-color: #17657b;
  --hover-link: #004755;
}

[data-theme="dark"] {
  --color-bg: #000000;
  --color-fg: #efefef;
  --link-color: #4da9b5;
  --hover-link: #2f8d99;
}

body {
  width: 100%;
  height: 100vh;
  margin: 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--color-bg);
  color: var(--color-fg);
}
header {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  background-color: #2f8d99;
}

.top-line-content {
  width: 90%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 60px;
}
.top-line-content h1 a {
  text-decoration: none;
  color: black;
}
.search-items {
  display: flex;
  align-items: center;
}
.search-container {
  width: 347px;
  height: 37px;
  border-radius: 60px 0px 0px 60px;
  border: 0;
  padding-left: 16px;
  background-color: #efefef;
}
.search-button {
  height: 39px;
  width: 35px;
  border-radius: 0px 60px 60px 0px;
  border: none;
  background-color: #efefef;
  cursor: pointer;
}

.end-items {
  display: flex;
  align-items: center;
  justify-content: end;
  gap: 10px;
}
.flags {
  width: 50px;
  padding: 5px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.flags img {
  cursor: pointer;
}
.user-drop {
  width: 54px;
  background-color: #17657b;
  padding: 2px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  cursor: pointer;
}

.user-drop button {
  border-radius: 100%;
  aspect-ratio: 1;
  background-color: #2f8d99;
  border: 0px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.dropdown-content {
  display: none;
  position: absolute;
  top: 100%;
  right: -1px;
  background-color: #004755;
  min-width: 126px;
  box-shadow: 0px 4px 1px 0px #17657b;
  z-index: 1;
  padding: 10px 5px 10px 25px;
  border-radius: 5px;
  margin-top: 5px;
  cursor: default;
}
.dropdown-content a {
  color: #efefef;
  text-decoration: none;
  padding-bottom: 3px;
}
.dropdown-content a:hover {
  color: #2f8d99;
  padding-left: 1px;
}
.dropdown-content p {
  color: #2f8d99;
  text-decoration: none;
  margin-top: -2px;
  margin-left: -10px;
  font-weight: 700;
}

.show {
  display: flex;
  flex-direction: column;
}
.filter-w {
  filter: invert(99%) sepia(79%) saturate(0%) hue-rotate(80deg) brightness(105%)
    contrast(104%);
}

.bottom-line {
  width: 100%;
  background-color: #17657b;
  display: flex;
  justify-content: center;
  height: 50px;
}

.bottom-line-content {
  width: 90%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.bottom-line-anchors {
  display: flex;
  align-items: center;
  gap: 30px;
  font-weight: 500;
}
.bottom-line-anchors a {
  text-decoration: none;
  color: #efefef;
}
.bottom-line-anchors a:hover {
  color: #4da9b5;
}
.category-drop {
  display: flex;
  align-items: center;
  position: relative;

  color: #efefef;
}
.category-drop :hover {
  color: #4da9b5;
}
.cat-arrow {
  cursor: pointer;
  display: flex;
  align-items: center;
}
.dropdown-content-cat {
  display: none;
  position: absolute;
  top: 100%;
  right: -1px;
  background-color: #004755;
  min-width: 406px;
  box-shadow: 0px 4px 1px 0px #17657b;
  z-index: 1;
  padding: 10px 25px 10px 25px;
  border-radius: 5px;
  margin-top: 1px;
}
.dropdown-content-cat a {
  color: #efefef;
  text-decoration: none;
  margin-bottom: 8px;
  font-weight: 400;
}
.dropdown-content-cat a:hover {
  color: #2f8d99;
}
.showCat {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 20px;
  text-align: left;
}

.end-items-bottom {
  display: flex;
  align-items: center;
  width: 65px;
  justify-content: end;
}
.dark-mode-switch {
  background-color: #2f8d99;
  border: none;
}
main {
  width: 80%;
}
.page-title {
  border-radius: 5px;
  height: 40px;
  display: flex;
  justify-content: center;
  margin-top: 10px;
  box-shadow: 0px 4px 1px 0px #17657b;
}
.heading {
  color: #efefef;
  font-weight: 500;
  font-size: 25px;
}
.container {
  margin-top: 30px;
  margin-bottom: 200px;
  width: 100%;
}
.container-con {
  margin-top: 20px;
  margin-bottom: 100px;
  width: 100%;
  display: flex;
  border-radius: 5px;
  background-color: #2f8d99;
  color: #efefef;
  justify-content: center;
}
.form-box {
  width: 90%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  padding-top: 10px;
}

.form-group {
  display: flex;
  flex-direction: column;
  gap: 5px 0;
  width: 100%;
}
.form-group input {
  border-radius: 16px;
  height: 25px;
  border: none;
  width: 280px;
  margin-bottom: 15px;
  text-align: center;
}
.form-group textarea {
  border-radius: 16px;
  padding-top: 7px;
  padding-left: 12px;
  height: 15rem;
}
.btn {
  margin-bottom: 10px;
  width: 150px;
  border-radius: 16px;
  border: none;
  background-color: #004755;
  color: #efefef;
  height: 30px;
  cursor: pointer;
  margin-top: 10px;
}
.btn:hover {
  background-color: #17657b;
}
.body404 {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100vh;
  justify-content: center;
  align-items: center;
}
.btn404 {
  border-radius: 16px;
  border: none;
  background-color: #004755;
  color: #efefef;
  font-size: 20px;
  font-weight: 500;
  width: 150px;
  height: 35px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}
.btn404:hover {
  background-color: #17657b;
}
.msg404 {
  margin-bottom: 50px;
}
.heading404 {
  font-size: 50px;
}
.img-box {
  background-color: #17657b;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  border-radius: 5px;
  margin-top: 30px;
  margin-bottom: 30px;
}
.img-intro {
  width: 90%;
  aspect-ratio: 5/2;
  border-radius: 5px;
  object-fit: cover;
  object-position: 50% 10%;
}
.mt-5 {
  font-size: 18px;
}
.post {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0 5px;
  margin-bottom: 20px;
  background-color: #17657b;
  border-radius: 5px;
  padding: 10px 0 5px 0;
}
.post-body {
  background-color: var(--color-bg);
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 5px;
  margin-top: -5px;
}
.post-title {
  margin-bottom: 5px;
  margin-top: 5px;
  width: 95%;
}
.post-title a {
  color: var(--link-color);
}
.post-title a:hover {
  color: var(--hover-link);
}
.post-meta {
  margin-top: 10px;
  margin-bottom: 5px;
  font-size: 13px;
  display: flex;
  width: 95%;
  justify-content: space-between;
}
.post-date {
  color: var(--color-fg);
}
.post-comment a {
  color: var(--link-color);
}
.post-comment a:hover {
  color: var(--hover-link);
}

.post-intro {
  color: var(--color-fg);
  width: 95%;
}
.more-link {
  margin-top: 10px;
  width: 95%;
  margin-bottom: 5px;
  color: var(--link-color);
}
.more-link:hover {
  color: var(--hover-link);
}

.post-thumb {
  width: 150px;
  height: 150px;
  border-radius: 5px;
  object-fit: cover;
  margin-left: 5px;
  margin-top: 5px;
}
.archive-nav {
  background-color: #17657b;
  border-radius: 5px;
  text-align: center;
  padding: 5px;
}
.archive-nav a {
  color: #efefef;
  margin: 0 10px 0 10px;
}
.home-img {
  width: 100%;
  border-radius: 5px;
  aspect-ratio: 16/9;
  object-fit: cover;
  object-position: top;
}
footer {
  background-color: #2f8d99;
  width: 100%;
  height: 80px;
  position: fixed;
  bottom: 0px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  color: #efefef;
}
footer a {
  text-decoration: none;
  color: #efefef;
  font-weight: 500;
}
footer a:hover {
  color: #004755;
}
.footer-bug {
  display: flex;
  align-items: center;
}
.bugsplat {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 50px;
  height: 50px;
  background-image: url(img/splash.svg);
  background-position: center;
  background-size: cover;
}

.filter-white {
  filter: invert(99%) sepia(79%) saturate(0%) hue-rotate(80deg) brightness(105%)
    contrast(104%);
  transform: rotate(-30deg);
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  display: block;
  margin: auto;
}
.hamburger-menu {
  display: none;
}

.hamburger-icon {
  display: none;
}
.bar {
  width: 25px;
  height: 2px;
  background-color: #efefef;
  border-radius: 5px;
}
.search-items-b {
  display: none;
}
.flags-b {
  display: none;
}
@media only screen and (max-width: 1000px) {
  .search-container {
    width: 247px;
  }
}
@media only screen and (max-width: 1230px) {
  .top-line-content {
    width: 80%;
  }
  .bottom-line-content {
    width: 80%;
  }
}

@media only screen and (max-width: 875px) {
  .bottom-line {
    height: 85px;
  }

  .bottom-line-anchors {
    display: grid;
    grid-template-rows: 50% 50%;
    grid-template-columns: repeat(3, 1fr);
    gap: 0px 30px;
  }
  .dropdown-content-cat {
    left: 0px;
  }
}

@media only screen and (max-width: 730px) {
  .post-body {
    margin-right: 5px;
    margin-top: 0px;
    margin-left: 5px;
  }

  .post {
    flex-direction: column;
    gap: 5px 0;
    padding: 5px 0 5px 0;
  }
  .post-thumb {
    width: 60%;
    margin-left: 0px;
    margin-top: 0px;
  }
  .hamburger-menu.active {
    display: flex;
    flex-direction: column;
    background-color: #004755;
    padding: 10px;
    position: absolute;
    right: 0;
    top: 60px;
    gap: 15px;
    justify-content: center;
    border-radius: 5px 0 0 5px;
    max-width: 80%;
  }

  .hamburger-icon {
    display: flex;
    flex-direction: column;
    gap: 6px 0px;
    padding: 4px 0 4px 0;
    cursor: pointer;
  }
  .bottom-line-burger {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
  }
  .bottom-line-content-burger {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
  }
  .bottom-line-anchors-burger {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: start;
    background-color: #17657b;
    border-radius: 5px;
  }
  .bottom-line-anchors-burger a {
    text-decoration: none;
    padding: 10px;
    color: #efefef;
  }
  .bottom-line-anchors-burger p {
    width: 100%;
    padding: 10px 0 10px 10px;
    margin: 0px 0 0px 0;
  }
  .bottom-line-anchors-burger a:hover {
    color: #4da9b5;
  }
  .bottom-line {
    display: none;
  }
  .search-items {
    display: none;
  }
  .dropdown-content-cat {
    min-width: 100%;
    margin-left: 30px;
    margin-top: -5px;
    border: #17657b;
    border-width: 2px;
    border-style: solid;
  }
  .showCat {
    display: flex;
    flex-direction: column;
    column-gap: 10px;
    text-align: center;
    margin-bottom: 200px;
  }

  .flags {
    display: none;
  }
  .search-items-b {
    display: flex;
  }
  .flags-b {
    display: flex;
    width: 100%;
    justify-content: center;
    gap: 20px;
  }
  .flags-b img {
    cursor: pointer;
  }
  footer {
    display: grid;
    height: 100px;
    grid-template-rows: 60px 20px;
    grid-template-columns: auto auto;
    gap: 0px 30px;
  }
  .left {
    text-align: left;
  }
  .right {
    text-align: right;
  }
}

@media only screen and (max-width: 400px) {
  .post-thumb {
    width: 90%;
  }
  .post-date {
    width: 40%;
  }
  footer {
    display: flex;
    flex-direction: column;
    height: 160px;
  }
  footer p {
    margin: 2px;
  }
  .form-group input {
    width: 100%;
  }
  .btn {
    width: 100%;
  }
}
